* {
  margin: 0%;
  padding: 0%;
}
body {
  background-image: url(bg.jpg);
}
.mainBody {
  /* The image used */
  /* background-image: url(bg.jpg); */
  /* border: turquoise 3px solid; */
  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* overflow: hidden; */
}
